<div layout="row" style="height: 100%">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                  md-component-id="left"
                  md-is-locked-open="$mdMedia('gt-sm')">

      <md-toolbar class="md-whiteframe-z1">
        <h1>Users</h1>
      </md-toolbar>

      <md-list>
        <md-list-item ng-repeat="it in users">
            <md-button ng-click="selectUser(it)" ng-class="{'selected' : it === selected }">
              <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
              {{it.name}}
            </md-button>
        </md-list-item>
      </md-list>

    </md-sidenav>

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

      <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h1>TEST</h1>
      </md-toolbar>

      <md-content flex id="content">
         <h2>Welcome {{name}}, </h2>
         <h3>You have joined room {{room}}.<h3>
        <md-button class="btn1" ng-click=""> Start the Game </md-button>
      
      </md-content>

    </div>
</div>